.advantages {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 78.5%;
    background-color: $basic_grey;
    z-index: -1;
    bottom: 0;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 4%);

    @media (min-width: $tablet-width) {
      height: 488px;
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 11.5%);
      top: 237px;
      bottom: auto;
    }

    @media (min-width: $desktop-width) {
      height: 1045px;
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 9.5%);
      bottom: 0;
      top: auto;
    }
  }
}

.advantages__title {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 62px;
  }
}

.advantages__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.advantages__title-text {
  display: block;
}

.advantages__title-text:nth-child(2) {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    max-width: 335px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 430px;
  }
}

.advantages__list {
  overflow: hidden;
  margin: 0;
  margin-top: 81px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-left: auto;
    margin-top: 73px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin-left: 0;
    margin-top: 23px;
  }
}

.advantages__item:not(:last-child) {
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 34px;
  }
}

.advantages__item {
  @media (min-width: $desktop-width) {
    width: 300px;
    position: relative;
  }
}

.advantages__item--mood {
  @media (min-width: $desktop-width) {
    padding-top: 356px;

    &::after {
      content: "";
      display: block;
      width: 292px;
      height: 302px;
      background-image: url("../img/iphone-screen-1-desktop.png");
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.advantages__item--change {
  @media (min-width: $desktop-width) {
    padding-top: 356px;

    &::after {
      content: "";
      display: block;
      width: 292px;
      height: 302px;
      background-image: url("../img/iphone-screen-2-desktop.png");
      position: absolute;
      top: 0;
      left: 51%;
      transform: translateX(-50%);
    }
  }
}

.advantages__item--friends {
  @media (min-width: $desktop-width) {
    padding-top: 356px;
  }

  &::after {
    content: "";
    display: block;
    width: 157px;
    height: 320px;
    background-image: url("../img/iphone-screen-mobile.png");
    margin: 0 auto;
    background-position: 50% 41px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      position: absolute;
      width: 268px;
      height: 481px;
      top: 244px;
      left: 20px;
      background-position: 50% 0;
      background-image: url("../img/iphone-screen-3-tablet.png");
    }

    @media (min-width: $desktop-width) {
      width: 292px;
      height: 302px;
      background-image: url("../img/iphone-screen-3-desktop.png");
      background-position: 0 0;
      top: 0;
      left: 52%;
      transform: translateX(-50%);
    }
  }
}

.advantages__item--effect {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 138px;
    padding-bottom: 21px;

    &::after {
      content: "";
      width: 238px;
      height: 276px;
      display: block;
      position: absolute;
      left: 20px;
      bottom: 0;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        width: 298px;
        height: 345px;
        background-size: 298px 345px;
        left: 1px;
        bottom: 67px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 369px;
    margin-top: 160px;
    padding-bottom: 114px;
  }
}

.advantages__item--effect br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__item--effect .advantages__description {
  margin-bottom: 9px;

  @media (min-width: $desktop-width) {
    text-align: left;
    padding: 0;
    margin-bottom: 33px;
  }
}

.advantages__research-link {
  font-size: 14px;
  line-height: 24px;
  color: $basic_pink;
  text-decoration: underline;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 23px;
  }
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $blue_grey;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 0 30px;
  }
}

.advantages__item--effect .advantages__item-title {
  font-size: 30px;
  line-height: 36px;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
