.checkbox-field {
  @media (min-width: $desktop-width) {
    width: 268px;
  }
}

.checkbox-field:nth-child(1),
.checkbox-field:nth-child(2) {
  @media (min-width: $desktop-width) {
    width: 287px;
  }
}

.checkbox-field:nth-child(3n + 7) {
  @media (min-width: $desktop-width) {
    width: 287px;
  }
}

.checkbox-field__label {
  padding-bottom: 34px;
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: $blue-grey;
  position: relative;
  padding-left: 57px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24%;
    transform: translateY(-50%);
    left: 0;
    width: 39px;
    height: 39px;
    border: 2px solid $light_grey;
    background-color: $basic_white;
    border-radius: 1px;
    transition-property: border;
    transition-duration: 0.5s;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    width: 21px;
    height: 10px;
    top: 17%;
    left: 13px;
    border-left: 2px solid $basic_pink;
    border-bottom: 2px solid $basic_pink;
    transform: rotate(-45deg) translateY(-50%);
  }
}

.checkbox-field__input:checked ~ .checkbox-field__label::after {
  display: block;
}

.checkbox-field__input:focus ~ .checkbox-field__label::before {
  border-color: $basic_black;
}

.checkbox-field__input:hover ~ .checkbox-field__label::before {
  border-color: $blue_grey;
}

.checkbox-field__input:active ~ .checkbox-field__label::before {
  border-color: $basic_pink;
}
