.contacts__title {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  color: $blue_grey;
  text-align: center;
}

.contacts__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.5px;
  color: $blue_grey;
  text-align: center;
}

.contacts__info {
  display: block;
  font-style: normal;
  font-size: 24px;
  line-height: 32.6px;
  font-weight: 300;
  color: $basic_pink;
  text-align: center;
}
