.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  margin-right: 15px;
  font-size: 14px;
  line-height: 18px;
  color: $blue_grey;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__link svg {
  fill: $basic_pink;
}

.copyright__link:hover svg {
  fill: $blue_grey;
}

.copyright__link:active svg {
  opacity: 0.3;
}
