.download {
  background-color: $blue_grey;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 462px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.png");
    background-size: 1200px 729px;
    background-position: 50% 0%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.png");
    background-size: 2560px 853px;
    background-position: 50% 0%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }
}

.download__wrapper {
  @include wrapper;
  max-width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
  }
}

.download__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 88px;
  font-size: 24px;
  line-height: 29px;
  color: $basic_white;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    max-width: 266px;
    padding-left: 34px;
    padding-top: 203px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 209px;
    margin-bottom: 37px;
  }
}

.download__img {
  display: block;
  margin: 0 -20px;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 545px;
    position: absolute;
    z-index: -1;
    right: 20px;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    height: 645px;
    max-width: none;
    right: -96px;
  }
}

.download__button {
  @include button;
  width: 100%;
  max-width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  color: $basic_white;
  border: 3px solid;
  border-color: $basic_white;

  &:hover {
    color: $basic_pink;
    background-color: $basic_white;
    box-shadow: 0 5px 7px rgba($color: $basic_black, $alpha: 0.75);
  }

  &:active {
    color: rgba($color: $basic_pink, $alpha: 0.3);
    box-shadow: none;
  }
}

.download__link-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    max-width: 300px;
    padding-top: 0;
    padding-bottom: 114px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 125px;
  }
}

.download__list {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 21px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
    margin-bottom: 52px;
  }
}

.download__item:not(:last-child) {
  margin-right: 35px;
}

.download__item:nth-child(3) {
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
  }
}

.download__link--apple {
  &::after {
    content: "";
    width: 47px;
    height: 56px;
    background-image: url("../img/icon-apple.svg");
    background-repeat: no-repeat;
    display: block;
  }
}

.download__link--android {
  &::after {
    content: "";
    width: 43px;
    height: 47px;
    background-image: url("../img/icon-android.svg");
    background-repeat: no-repeat;
    display: block;
  }
}

.download__link--microsoft {
  &::after {
    content: "";
    width: 44px;
    height: 41px;
    background-image: url("../img/icon-microsoft.svg");
    background-repeat: no-repeat;
    display: block;
  }
}

.download__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: $basic_white;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
