.filter-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 37px;
  padding-right: 49px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.filter-controls__toggle--crop .filter-controls__label {
  &::before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("../img/icon-crop.svg");
    background-repeat: no-repeat;
  }
}

.filter-controls__toggle--fill .filter-controls__label {
  display: block;
  width: 48px;
  height: 43px;
  background-image: url("../img/icon-fill.svg");
  background-repeat: no-repeat;
  margin-left: 35px;
}

.filter-controls__toggle--contrast .filter-controls__label {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-contrast.svg");
  background-repeat: no-repeat;
  margin-left: 35px;
}

.filter-controls__input:focus + .filter-controls__label {
  outline: -webkit-focus-ring-color auto 1px;
}
