.filter-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 37px;
  padding-right: 49px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.filter-controls__label {
  cursor: pointer;
}


.filter-controls__input:focus + .filter-controls__label {
  outline: -webkit-focus-ring-color auto 1px;
}

.filter-controls__input:checked ~ .filter-controls__label .filter-controls__icon {
  opacity: 1;
  fill: $basic_pink;
}

.filter-controls__icon {
  opacity: 0.3;
  fill: $blue_grey;
  transition-duration: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}
