.main-nav__toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  padding: 0;
  border: 0;
  width: 50px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 4px;
    background-color: $basic_white;
    box-shadow: 0 10px 0 0 $basic_white, 0 20px 0 0 $basic_white;
    transition-duration: 0.5s;
  }

  &:focus {
    outline: none;

    &::before {
      background-color: $dark_grey;
      box-shadow: 0 10px 0 0 $dark_grey, 0 20px 0 0 $dark_grey;
    }
  }

  &:hover {
    &::before {
      background-color: $basic_pink;
      box-shadow: 0 10px 0 0 $basic_pink, 0 20px 0 0 $basic_pink;
    }
  }

  &:active {
    outline: none;

    &::before {
      background-color: rgba($color: $basic_pink, $alpha: 0.3);
      box-shadow: 0 10px 0 0 rgba($color: $basic_pink, $alpha: 0.3), 0 20px 0 0 rgba($color: $basic_pink, $alpha: 0.3);
    }
  }
}

@media (max-width: $tablet-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    animation-name: trans;
    animation-duration: 1.5s;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    animation: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 32px;
  right: 15px;

  @media (min-width: $tablet-width) {
    top: 52px;
    right: 14px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 18px;
    width: 29px;
    height: 4px;
    background-color: #ffffff;
    transition-duration: 0.5s;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:focus {
    outline: none;

    &::before,
    &::after {
      background-color: $dark_grey;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: rgba($color: $basic_pink, $alpha: 0.3);
    }
  }

  &:hover::before,
  &:hover::after {
    background-color: $basic_pink;
  }
}
