.page-footer__wrapper {
  @include wrapper;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
  }
}

.page-footer__logo {
  margin-bottom: 39px;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__logo img {
  @media (min-width: $desktop-width) {
    width: 147px;
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
