.page-footer__wrapper {
  @include wrapper;
  padding: 40px 74px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  margin-bottom: 40px;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
