.photo {
  margin: 0;
  padding: 0;
}

.photo img {
  display: block;
}

.photo--panorama {
  &::before {
    content: "Панорама дня";
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    width: 140px;
    height: 36px;
    justify-content: center;
    align-items: center;
    background-color: $basic_pink;
    color: $basic_white;
    position: absolute;
    right: 20px;
  }
}

.photo--panorama img {
  width: 100%;
}

.photo--panorama .photo__link {
  display: block;
  margin: 0 -20px;
}

.photo__caption {
  background-color: $basic_grey;
  padding-left: 17px;
  padding-right: 31px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.photo__author {
  margin: 0;
}

.photo__text {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 24px;
  color: $blue_grey;
}

.photo__author-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $blue_grey;
}

.photo__publication-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $blue_grey;
  text-transform: uppercase;
}

.photo__number-of-likes {
  font-size: 12px;
  line-height: 24px;
  color: $basic_pink;
  text-transform: uppercase;
  margin-left: 18px;
}

.photo__like-button {
  border: none;
  background-color: transparent;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}
