.photo {
  margin: 0;
  padding: 0;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.photo__flag {
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  width: 140px;
  height: 36px;
  justify-content: center;
  align-items: center;
  background-color: $basic_pink;
  color: $basic_white;
  position: absolute;
  right: 20px;

  @media (min-width: $tablet-width) {
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    top: 54px;
    right: 130px;
  }
}

.photo--panorama {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.photo img {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.photo--panorama img {
  width: 100%;
}

.photo--panorama .photo__link {
  display: block;
}

.photo--panorama .photo__caption {
  @media (min-width: $tablet-width) {
    min-height: 121px;
    position: relative;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    min-height: 96px;
    padding-bottom: 13px;
  }
}

.photo--panorama .photo__likes {
  @media (min-width: $tablet-width) {
    position: absolute;
  }
}

.photo__caption {
  background-color: $basic_grey;
  padding-left: 17px;
  padding-right: 10px;
  padding-bottom: 18px;
  padding-top: 18px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    min-height: 155px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }
}

.photo__author {
  margin: 0;
}

.photo__text {
  margin: 0;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 24px;
  color: $blue_grey;
}

.photo__likes {
  margin: 0;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 30px;
    top: 25px;
    min-width: 119px;
  }
}

.photo__author-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $blue_grey;
}

.photo__publication-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $blue_grey;
  text-transform: uppercase;
}

.photo__number-of-likes {
  font-size: 12px;
  line-height: 24px;
  color: $basic_pink;
  text-transform: uppercase;
  margin-left: 14px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-left: 0;
  }
}

.photo__like-button {
  border: none;
  background-color: transparent;
  width: 13px;
  height: 12px;
  background-image: url("../img/icons/icon-heart.svg");
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}
