.price {
  background-image: url("../img/grey-background.svg");
  background-repeat: no-repeat;
  background-size: 8000px 1000px;
  background-position: 50% 100px;
}

.price__wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__toggles {
  text-align: center;
}

.price__toggle {
  border: 0;
  background-color: transparentize($blue_grey, 0.7);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  padding: 0;
}

.price__toggle:not(:last-child) {
  margin-right: 10px;
}

.price__toggle--current {
  border: 0;
  background-color: $basic_white;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  padding: 0;
  box-shadow: 0 0 0 3px $blue_grey;
}
