.price-list {
  border-collapse: collapse;
}

.price-list tbody {
  border: 2px solid $light_grey;
}

.price-list__rate {
  padding-top: 23px;
  padding-bottom: 25px;
  background-color: $blue_grey;
  color: $basic_white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}

.price-list__rate--hit {
  border-right: 2px solid $basic_white;
  border-left: 2px solid $basic_white;
  position: relative;
}

.price-list__hit-flag {
  position: absolute;
  top: 0;
  left: -2px;
}

.price-list__tariff {
  display: block;
}

.price-list__price {
  display: block;
  font-weight: 300;
}

.price-list__availability {
  position: relative;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border-right: 2px solid $light_grey;
  border-bottom: 2px solid $light_grey;
  min-width: 280px;
  color: $blue_grey;

  @media (min-width: $tablet-width) {
    min-width: 152px;
  }

  @media (min-width: $desktop-width) {
    min-width: 234px;
  }
}

.price-list__rate--empty {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
    background-color: transparent;
  }
}

.price-list__availability--empty {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
    font-weight: 400;
    text-transform: none;
  }
}

.price-list__availability--yes {
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    border-left: 2px solid $light_green;
    border-bottom: 2px solid $light_green;
    transform: skewY(-5deg) rotate(-45deg);
    top: 40px;
    right: 0;
  }
}

.price-list__availability--no {
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: $orange_red;
    transform: rotate(-45deg);
    top: 40px;
    right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: $orange_red;
    transform: rotate(45deg);
    top: 40px;
    right: 0;
  }
}
