.range-control {
  border-bottom: 1px solid rgba($color: $blue_grey, $alpha: 0.1);
  padding-bottom: 34px;
  display: flex;
  justify-content: center;
  position: relative;
}

.range-control__icon {
  position: absolute;
  top: -8px;
  left: 4px;
  fill: $basic_pink;

  @media (min-width: $desktop-width) {
    top: -21px;
    left: 0;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.range-control__icon--crop {
  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
  }
}


.range-control__icon--fill {
  @media (min-width: $desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.range-control__icon--contrast {
  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
    top: -15px;
    left: 6px;
  }
}

.range-control__bar {
  width: 240px;
  height: 2px;
  background-color: $blue_grey;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 202px;
    transform: translateX(18px);
  }

  @media (min-width: $desktop-width) {
    width: 288px;
    transform: translateX(31px);
  }
}

.range-control__toggle {
  width: 14px;
  height: 14px;
  background-color: $basic_white;
  border: 2px solid $basic_pink;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: background-color;

  @media (min-width: $desktop-width) {
    top: -6px;
  }

  &:focus {
    background-color: $basic_pink;
    outline: none;
  }
}

.range-control--crop .range-control__toggle {
  right: 33px;

  @media (min-width: $tablet-width) {
    right: 42px;
  }

  @media (min-width: $desktop-width) {
    right: 205px;
  }
}

.range-control--fill,
.range-control--contrast {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.range-control--fill .range-control__toggle {
  right: 163px;

  @media (min-width: $desktop-width) {
    right: 27px;
  }
}

.range-control--contrast .range-control__toggle {
  right: 92px;

  @media (min-width: $desktop-width) {
    right: 114px;
  }
}
