.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $blue_grey;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 150px 188px 150px 150px;
    background-color: transparent;
  }
}

.site-list__item {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid $basic_black;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
    border-top: none;
    padding-top: 37px;
    padding-right: 19px;
    text-align: left;
  }
}

.site-list__link {
  font-size: 18px;
  line-height: 33px;
  color: $basic_white;
  text-transform: uppercase;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    text-transform: none;
    font-weight: 400;
  }
}

.site-list__link[href] {

  transition-property: color;
  transition-duration: 0.5s;

  &:hover {
    color: $basic_pink;
  }

  &:active {
    color: rgba($color: $basic_pink, $alpha: 0.3);

    @media (min-width: $desktop-width) {
      color: rgba($color: $basic_white, $alpha: 0.3);
    }
  }
}

.site-list__link--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic_white;
    padding-bottom: 8px;
  }
}

.site-list__link--academy {
  @media (max-width: $tablet-width-only) {
    text-transform: uppercase;
  }
}
