.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $blue_grey;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }
}

.site-list__item {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid $basic_black;

  @media (min-width: $desktop-width) {
    border-bottom: none;
    margin-left: 79px;
    padding-top: 37px;
  }
}

.site-list__link {
  font-size: 18px;
  line-height: 33px;
  color: $basic_white;
  text-transform: uppercase;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    text-transform: none;
    font-weight: 400;
  }
}

.site-list__link--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic_white;
    padding-bottom: 8px;
  }
}

.site-list__link--academy {
  @media (max-width: $tablet-width-only) {
    text-transform: uppercase;
  }
}
