.slider__list {
  padding-top: 50px;
}

.slider__item {
  margin: 0;
  text-align: center;
  display: none;
}

.slider__item--current {
  display: block;
}

.slider__author-name {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.slider__author-description {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.slider__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.slider__prev {
  display: none;
}

.slider__next {
  display: none;
}

.slider__toggles {
  text-align: center;
}

.slider__toggle {
  border: 0;
  background-color: transparentize($blue_grey, 0.7);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  padding: 0;
}

.slider__toggle:not(:last-child) {
  margin-right: 10px;
}

.slider__toggle--current {
  border: 0;
  background-color: $basic_white;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  padding: 0;
  box-shadow: 0 0 0 3px $blue_grey;
}
