.slider__list {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 184px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.slider__item {
  margin: 0;
  text-align: center;
  display: none;
}

.slider__item--current {
  display: flex;
  flex-direction: column;
}

.slider__author-name {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    order: 2;
    margin-top: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.slider__author-description {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.slider__text {
  margin: 0;
  padding-top: 13px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    order: 1;
    padding-top: 0;
  }
}

.slider__prev,
.slider__next {
  display: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    position: absolute;
    display: inline-block;
    padding: 0;
    border: 0;
    background-color: $basic_white;
    width: 28px;
    height: 28px;
    border-bottom: 2px solid rgba($color: $blue_grey, $alpha: 0.3);
    top: 220px;
    transition-duration: 0.5s;
  }

  &:focus {
    outline: none;
    border-color: $dark_grey;
  }

  &:hover {
    border-color: rgba($color: $blue_grey, $alpha: 0.6);
  }

  &:active {
    border-color: rgba($color: $blue_grey, $alpha: 0.1);
    outline: none;
  }
}

.slider__prev {
  border-left: 2px solid rgba($color: $blue_grey, $alpha: 0.3);
  transform: rotate(45deg);
  left: 6px;
}

.slider__next {
  border-right: 2px solid rgba($color: $blue_grey, $alpha: 0.3);
  transform: rotate(-45deg);
  right: 6px;
}

.slider__toggles {
  text-align: center;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle {
  cursor: pointer;
  border: 0;
  background-color: rgba($color: $blue_grey, $alpha: 0.3);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  padding: 0;
  transition-duration: 0.5s;

  &:hover {
    background-color: rgba($color: $blue_grey, $alpha: 0.6);
  }

  &:active {
    background-color: rgba($color: $blue_grey, $alpha: 0.1);
    outline: none;
  }
}

.slider__toggle:not(:last-child) {
  margin-right: 15px;
}

.slider__toggle--current {
  border: 0;
  background-color: $basic_white;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  padding: 0;
  box-shadow: 0 0 0 3px $blue_grey;

  &:hover {
    background-color: $basic_white;
  }

  &:active {
    background-color: $basic_white;
  }
}
