.text-field {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.text-field--contacts {
  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 59px;
      height: 59px;
      background-color: $light_grey;
      top: 2px;
      right: 2px;
    }
  }
}

.text-field--tel {
  &::after {
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 48% 52%;
  }
}

.text-field--mail {
  &::after {
    background-image: url("../img/icons/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 48% 52%;
  }
}

.text-field__label {
  font-size: 14px;
  line-height: 30px;
  padding-left: 23px;
  padding-bottom: 4px;
  color: $basic_pink;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    margin-right: 18px;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.text-field--contacts .text-field__label {
  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 10px;
    padding-left: 19px;
  }
}

.text-field__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $light_grey;
  border-radius: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 15px;
  width: 100%;
  transition-duration: 0.5s;

  &::placeholder {
    color: $blue_grey;
  }

  &:hover {
    border-color: $blue_grey;
  }

  &:focus {
    border-color: $basic_pink;
    outline: none;
  }
}

.text-field--contacts .text-field__input {
  @media (min-width: $tablet-width) {
    order: 1;
    padding-right: 90px;
  }
}

.text-field__input--comment {
  resize: none;
  min-height: 201px;

  @media (min-width: $tablet-width) {
    min-height: 193px;
  }

  @media (min-width: $desktop-width) {
    min-height: 128px;
  }
}
