// colors
$basic_white:#ffffff;
$basic_black:#000000;
$basic_grey: #f2f2f2;
$light_grey: #e5e5e5;
$dark_grey: #808080;
$basic_pink:#d22856;
$dark_blue:#1d2631;
$blue_grey:#283645;
$dark_green:#2aab6d;
$darkest_green:#1c9b5e;
$light_green:#3dc644;
$orange_red:#f25b26;


// breakpoints
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 659px;
$tablet-width-only: 959px;

//fonts

$open-sans: "Open Sans", "Arial", sans-serif;
